.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 10vh;
   background: #00467f;
   color: black;
   text-align: center;
   z-index: 3;
}

.header {
   position: relative;
   left: 0;
   top: 0;
   width: 100%;
   height: 10vh;
}

.bottom-margin-20{
  margin-bottom: 20px;
}

.navbar-brand{
	background: #00467f;
    border-color: #2a6baf;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
   /*padding: 7px 0px;*/
}

.navbar-right {
    list-style: none;
    float: right !important;
}
.navbar-right a:link{
  text-decoration: none;
}

.droppingdown.dropdown-menu{
  position:relative;
}

.dropdown.headnav .dropdown-toggle{
  font-size: 10vw;
}

.navbar-right a:hover{
  text-decoration: none;
}

.navbar-right a:active {
  text-decoration: none;
}

.navbar-right a:visited {
  text-decoration: none;
}

.navbar-brand img{
	width: auto;
	margin-left: 15px !important;
}

.header-top-margin{
	margin-top: 10vw;
}

.header-bottom-margin{
	margin-bottom: 100px;
}

.logout_button{
  color:white;
  font-size: 20px;
  position: absolute;
  right: 20px;

}


/*navigator*/
.sidebar-button{
  color: #fff!important;
  background-color: #009688!important;
  font-size: 24px!important;
  border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.wordbreak{
  word-break: break-all;
}

/*.container-fluid{
  margin-top: 10px;
}*/

.nopadding{
  padding: 0px !important;
}

#mySidebar{
  border-right: 1px solid #ccc!important;
  height: calc(100% - (10vh;));
    width: 100%;
    background-color: #fff;
    z-index: 1;
    overflow: auto;
    box-sizing: inherit;
}

#mySidebar .close{
  width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;

    font-size: 30px!important;


}


.sidebar-b-button:hover {
    color: #000!important;
    background-color: #ccc!important;
    text-decoration: none;
}
.sidebar-b-bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    color: black;
    font-size: 20px;
}

.sidebar-b-button.active,.sidebar-b-button.active:hover{
  background:#5bc0de !important;
}

.category-add-button{
  width: 100px;
  float: right;
}

.sub-category.category-add-button{
  width: 200px;
  float: right;
}

@media only screen and (max-width: 992px), (max-device-width: 992px){
  .dropdown-backdrop {
    position: unset !important;
  }
}

.container_profile {
  position: relative;
  /*width: 50%;*/
}

.image {
  display: block;
  width: 200px;
  height: 200px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 255, 0.2);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container_profile:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-center {
    text-align: center!important;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
.bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0;
}
.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.text-center {
    text-align: center !important;
}

.img.img_data{
  width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bg-wrap .user-logo h3 {
    color: #000;
    font-size: 18px;
}

.nopadding{
  padding:0 !important;
}

.showpass{
  font-size: 30px !important;
}

.button-to-transpa{
  background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.margin-top-10{
  margin-top: 10px !important;
}

.dropdown-menu.menu-drop.ul_drop{
  /*position: static;*/
  /*z-index: 100;*/
  position: static;
}

.headnav{
  position: absolute;
  right: 10px;
  /* font-size: 30px; */
}
.headnav a{
  color:white;
}
.nodisplay{
  display: none !important;
}

.form_poster{
  margin: 10vw;
}

.cover_upload{
  background: red;
  width: 300px;
  height: 300px;
}

.cover_upload4{
  background: red;
  width: 300px;
  height: 300px;
}

.display-flex{
  display: flex;
}

.display-flex.cover_upload2{
  justify-content: center;
}

.display-flex.cover_upload3{
  justify-content: center;
}

.display-flex.cover_upload5{
  justify-content: center;
}

.upload_fa{
  font-size: 100px !important;
    margin-top: 100px;
}

#close_file i{

    border: 3px solid #6f6452;
    margin-left: 10px;
    font-size: 30px;
    border-radius: 50%;
}

#close_file2 i{

    border: 3px solid #6f6452;
    margin-left: 10px;
    font-size: 30px;
    border-radius: 50%;
}

#close_file3 i{

    border: 3px solid #6f6452;
    margin-left: 10px;
    font-size: 30px;
    border-radius: 50%;
}



/*sb*/
.card.border-left-primary.shadow.h-100.py-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    height: 100px !important;
    padding-top: .5rem!important;
    padding-bottom: .5rem!important;
    border-left: .25rem solid #4e73df!important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.row.no-gutters.align-items-center {
    /*margin-right: 0;*/
    /*margin-left: 0;*/
    align-items: center!important;
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
    margin:5px;
}

.user-font{
  font-weight: 900 !important;
  font-size: 3em !important;
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.text-xs u,.h5.mb-0.font-weight-bold.text-gray-800{
    font-size: 2rem;
}

.modal-header{
  display: flex;
  align-items: center;
}

.modal-header .close{
  position: absolute;
  right: 15px;
}

ul {
    list-style-type: none;
}

.dataTables_wrapper{
  padding: 10px 0px;
}

.container_width{
  height: calc(100% - (10vh + 2.5rem));
  overflow: auto;
}

@media screen and (min-width: 700px) {
  .dropdown.headnav .dropdown-toggle {
    font-size: 50px !important;
    position: absolute;
    right: 10;
  }
}