.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background: #00467f;
    color: black;
    text-align: center;
    z-index: 1;
}

.header {
    background: #00467f;
    height: 81px;
    border-color: #2a6baf;
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: unset;
    width: 100%;
    height: 10vh;
}

.navbar-brand {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px !important;
  float: none !important;
  height: unset !important;
}

@media only screen and (min-width: 992px), (min-device-width: 992px){
  .navbar-brand {
      width: 970px;
  }
}


.navbar-brand .navbar-brand-image-link{
    overflow: hidden;
    color: #777;
    padding: 7px 0px;
    height: 100%;
    float: left;
    font-size: 18px;
    line-height: 20px;
    height: 10vh;
}

.navbar-brand .navbar-brand-image-link img{
    height: 100%;
}

.navbar-right {
    list-style: none;
    float: right !important;
}

ul.navbar-right>li{
  height: 100%;
}

ul.navbar-right>li>a#LoginRegister {
    line-height: 50px;
    padding: 0px 15px 0px 15px !important;
    font-weight: 500;
    color: #EEE;
}

.display-flex-center{
  display: flex;
  align-items: center;
  font-size: 3vh;
}

.bottomLinkMenu {
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.bottomLinkMenu > a {
    padding: 15px;
    color: #fff !important;
}

.bottomLinkMenu > span.separator {
    padding: 15px 0px 15px 0px;
    color: #fff;
}
#search_container {
    padding-top: 15vh;
    width: 100%;
    height: calc(100vh - 5vh);
    overflow: hidden;
    margin: 0px 0px;
}

#carousel_container {
    width: 100%;
    height: calc(100vh - 15vh);
    overflow: hidden;
    margin: 0px 0px;
}

#carousel_container .carousel-indicators li{
  background: rgb(0, 70, 127);
}

.item-inside{
  display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

#verify_user{
    padding:10vw;
}

.top-img-profile{
    border-radius: 50%!important;
}

.top-img-button{
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.top-img-button:hover{
    color: transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}

.top-img-button{
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.top-img-button:hover{
    color: transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
}

.container_profile {
  position: relative;
  /*width: 50%;*/
}

.image {
  display: block;
  width: 200px;
  height: 200px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 255, 0.2);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container_profile:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile{
    margin: 0px 20px;
}

#search_container{overflow: auto;}

.div_poster{
  margin-left:10vw;margin-right:10vw;
}
.imgdiv{
  width: 100%;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center;
    background-size: 100%;
    height: 100%;
}

.imgdiv2{
  width: 100%;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center;
    background-size: 100%;
    height: 40vh;
}


@media only screen and (max-width: 700px), (max-device-width: 700px){
  .imgdiv2{
    height: 20vh;
  }

  .imgdiv2{
    height: 20vh;
  }

  .single-poster{
    height: 175px !important;
  }

  .poster_view_photo {
    width: 100% !important;
  }

  .text-info{
    text-align: center;
    padding-top: 9vh !important;
    color:white;
    font-size: 30px !important;
  }

  #embed_file2{
    height: 19vh !important;
  }
}

#embed_file2{width:100%;height:35vh;}

.overflow_auto{
  overflow: auto;
}

.imgdiv2:hover,
#embed_file2:hover,
.poster_view_photo:hover{
  transform: rotate(360deg);
      transition: 2s;
}

.text-info{
  text-align: center;
  padding-top: 18vh;
  color:white;
  font-size: 30px;
}

.hoverat:hover{
  color:transparent;
}

.text-info2{
  text-align: center;
  color:black;
  font-size: 30px;
}

@media only screen and (max-width: 992px), (max-device-width: 992px){
  .user_sidebar{
    height: calc(100vh - 25vh) !important;
    display: none;

  }

  .user_sidebar #close_nav{
    display: block !important;
  }

  #open_nav{
    display:block !important;
  }
}

@media (min-width: 993px){
  .user_sidebar{
    display: block !important;

  }

  .user_sidebar #close_nav{
    display: none;
  }

  #open_nav{
    display:none ;
  }
}

.user_sidebar{
    margin-left: -15px;
    margin-top: -5vh;
    height: calc(100vh - 15vh);
    width: 200px;
    background-color: #fff;
    position: fixed!important;
    z-index: 1;
    overflow: auto;
    color: #000!important;
    background-color: #f1f1f1!important;
}

.user_sidebar a{
  width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    /*text-align: center;*/
    cursor: pointer;
}

.user_sidebar a:hover,
.user_sidebar a.active,
.user_sidebar a.activate{
  background-color: #00467f;
  color: #EEE;
}

.user_sidebar .subcat_container:hover,
.user_sidebar .subcat_container.active,
.user_sidebar a.activate2{
  background-color: #3282b8;
  color: #EEE;
}

.user_sidebar .usubcat_container:hover,
.user_sidebar .usubcat_container.active,
.user_sidebar a.activate3{
  background-color: #bbe1fa;
  color: #000!important;
}

.user_sidebar a.subcat_container{
  padding-left: 26px;
}

.user_sidebar a.usubcat_container{
  padding-left: 36px;
}

/* .user_sidebar a:hover{
      color: #000!important;
    background-color: #ccc!important;
} */

.user_sidebar h3{
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: center;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.dropdown-container {
  display: none;
}

.navbar-right-responsive a.active,
.navbar-right a.active{
  background: lightblue !important;
  color: black !important;
}

a{
  text-decoration: none !important;
}

.work-break-break-word{
  word-break: break-word;
}

.poster_view_photo{
  width:50%;
  height:auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-device-width: 823px), (max-width: 823px) {
  .navbar-brand .navbar-right{
    display: none !important;
  }

  .navbar-right-expander{
    display: block !important;
  }

}

ul.navbar-right-responsive{
  list-style-type: none;
  display: flex;
}

.navbar-right-expander{
  position: fixed;
  background: none repeat scroll 0 0 #2a6baf;
  color: #ffffff;
  display: none;
  font-size: 25px;
  font-weight: 100;
  height: 10vh;
  margin-right: 0;
  padding: 3vh;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 12;
  -webkit-transition: right 0.3s ease-in-out 0s;
}

.navbar-right-expander i{
  font-size: 5vh;
}

.navbar-right-expander-menu{
  width: 100%;
  min-width: unset;
  position: fixed;
  margin: 0;
  font-size: large;
  text-align: left;
  background: #2a6baf;
  border-radius: 0;
}

.navbar-right-expander-menu a.menu-link{
  line-height: 5vh !important;
  font-size: 3vh;
  color: #EEE;
}

.font-30{
  font-size: 20px;
}

.footer_div{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 2vw;
}

.google_icon{
  display: flex;
  align-items: center;
}
.google_icon img{
  width: 10%;
  height: auto;
  background: white;
}

.google_icon span{
  font-size: 30px;
  width: 90%;
}

.search_poster .search-textbox{
  height: 60px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px
}
.search_poster button{
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  height: 60px;
  width: 60px;
  color: #7d7d7d;
  padding: 14px 17px!important;
  background-color: #fff;
  border: 1px solid #ccc;
}
@media only screen and (max-width: 700px), (max-device-width: 700px){
  .search_poster {
    top: 20% !important;

  }

  .search_poster_logo {
    top: 15% !important;
    font-size: 70px !important;

  }
}
.search_poster {
  max-width: 900px;
  width: 80vw;
  position: relative;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.search_poster_logo {
  position: relative;
  top: 25%;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
  text-shadow: 5px 5px #FF0000;
}

.divcontainer{
  margin-top: -10vh;
  width: 100%;
    height: calc(100vh);
    background: url(../../images/escoposters.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;

}


.divcontainer_contact{
  /*margin-top: -10vh;*/
  width: 100%;
    height: calc(100vh - 20vh);
    background: url() no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

#contact_us_form{
    width: 80vw;
    max-width: 1000px;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.single-poster{
  height: 350px;
  overflow: hidden;
}

.single-poster-container{
  background-color: #f1f1f1!important;
}

.download-button{
  text-align: center;
  width: 100%;
  background: #00467f;
  border-radius: 0;
  color: white;
  position: fixed;
    top: 0;
    font-size: 20px;
}

.download-button2:hover{
  color: white;
}
.download-button2{
  text-align: center;
  width: 100%;
  background: #00467f;
  border-radius: 0;
  color: white;
  position: sticky;
    bottom: -20;
}

.float-right-download{
  float: right;
  color: black;
}

#open_nav{
  display: block;
  margin-top: 25vh;
  position: fixed;
  font-size: 30px;
  z-index: 1;
  margin-left: 10px;
  background-color: #00467f;
  border-color: #2a6baf;
}

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#close_nav{
  background: unset;
  width: 200px;
  position: fixed;
  font-size: 30px;
  float: right;
  text-align: right;
}
.pagination_div{
  float:right;
}

.firstbuttonpage,.lastbuttonpage{
  position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.div_container_poster{
      padding: 37px;
    border: 2px solid #302f2dcf;
    margin-bottom: 10px;
    overflow: auto
}

.div_container_poster img{
  width: 100%;
}

.div_tag_content{
  color: #17175f;;
}